<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/lista.css">
</head>
<body>
    <div class="tarjeta">
        <div class="product">
            <div class="imagen">
                <img src="fondo.jpg" width="100%" height="100%">
            </div>
            <div class="nombre">
                nombre del producto
            </div>
            <div class="estrellas">
                ----------
            </div>
            <div class="precio">
                <span>Precio:&nbsp;</span><span>35</span><span>&nbsp;Bs.</span>
            </div>
            <div class="descuento">
                <span>Descuento:&nbsp;</span><span>35</span><span>&nbsp;%</span>
            </div>
            <div class="visualizar">
                <button class="btn">Visualizar</button>
            </div>

        </div>

    </div>
</body>
</html>